

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-email {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: -80px;
    font-size: large;
}

#email {
    text-align: center;
}

#submit {
    font-weight: bolder;
}

body {
    font-family: monospace;
    background-color: #B0FFAD;
    line-height: 1.6;
}

header {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#nav-bar ul {
    display: flex;
    margin-top: -60px;
    margin-right: -40px;
    font-size: large;
}

nav#nav-bar ul li {
    margin-left: 2rem;
}

nav#nav-bar ul li:hover a {
    color: white;
}

a{
    color: black;
}

#header-img {
    width: 250px;
    margin-top: -90px;
    margin-left: -50px;
}
#premium {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#premium-text {
    background-color: #44D362;
    font-size: 25pt;
}

#premium-subtext {
    font-size: 15pt;
    font-style: oblique;
    font-weight: bolder;
}

#premium h3 {
    font-size: 20pt;
    background-color: #2d9143;
}

.features-box {
    text-align: center;
    line-height: 1.5;
    border:2px solid black;


}
.features-box h4 {
    font-size: 15pt;
}

.features-box p {
    font-size: 12pt;
    font-style: oblique;
    line-height: 5pt;
}

#download {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#download h2 {
    font-size: 25pt;
    background-color: #44D362;
}

#download p {
    font-size: 15pt;
    line-height: 50pt;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 12px;
}

.button:hover {
    background-color: black;
    border: none;
    color: white;
}

#about {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#about h2 {
    font-size: 25pt;
    background-color: #44D362;
}

html,body {
    overflow-x: hidden;
}
